{% extends "containeur.html" %}
<!-- Cette page contient le code qui permet d'afficher chacune des photographies -->

{% block titre %}
        {%if img %} | Image : {{img.id}} {% endif %}
{% endblock %}

{% block contenu %}

    {% if img %}
        {% if droit_modif %}
            <li class="form-inline my-4">
                <div class="col-sm-10">
                    <a class="nav-link" href="{{url_for('update_img')}}"><button type="button" class="btn btn-light" style="width: 100px; font-weight:bold;">Modifier</button></a>

                    <a class="nav-link" href="{{url_for('delete_img')}}, id=img.id" onclick="return confirm('Confirmer la suppression');"><button type="button" class="btn btn-light" style="width: 120px; font-weight:bold;">Supprimer</button></a>
                 </div>
            </li>
        {% endif %}

<!-- On pose une condition : si les éléments demandés existent dans la BDD, alors ce qui est contenu dans
 if img va s'exécuter. Si ce n'est pas le cas le else est exécuté et renvoie un message d'avertissement -->

<br/>
<!-- Ici toutes les informations concernant les images stockées dans la BDD et que l'on souhaite afficher -->
<div class="description_img">
            <h1 style="font-size: 30px;">{{img.titre}}</h1>
            <dl>
                <dt>Date :</dt> <dd>{{img.date}}</dd>
                <dt>Description :</dt> <dd>{{img.description}}</dd>
                <dt>Photographe :</dt> <dd>{{img.nom_photographe}}</dd>
                <dt>Source :</dt> <dd>{{img.source|safe}}</dd>
            </dl>
</div>
<div>
    <div class="img_resultat">
    {% if img.chemin %}
    <div>{{img.chemin|safe}}</div>
    {% endif %}
    </div>
</div>
<!--Cette div permet de faire s'afficher l'image allant avec
    la description sélectionnée, le |safe est indispensable à
    l'affichage de celle-ci -->
    {% else %}
            <p>La base de données est en cours de constitution</p>
    {% endif %}
{% endblock %}
